{% extends "translationsuite/_layouts/translationsuite_cp.twig" %}
{% import "_includes/forms" as forms %}

{# The content of the CP Section#}
{% block content %}
    <div class="c-field-container">
        <div class="w-full md:w-2/3">
            <div class="a-lightswitch">
                <div class="a-lightswitch__field">
                    <form method="get">
                        <h4>Export your translations</h4>
                        {{ forms.select({
                            id: 'filetype',
                            name: 'filetype',
                            options: exportableFiletypes
                        }) }}
                        {{ forms.select({
                            id: 'category',
                            name: 'category',
                            options: categories
                        }) }}
                        {{ csrfInput() }}
                        {{ actionInput('translationsuite/settings/export-excel') }}
                        <input class="btn submit" type="submit" value="Export">
                    </form>
                </div>
                <div id="useTranslationFiles-desc" class="a-lightswitch__description">
                    Choose your filetype for the export and the category as well as which translations you want to export. <br>
                    <ul>
                        <li>All translations: Combine translations from files and the database</li>
                        <li>Database translations: Only export the translations from the database</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
