.a-lightswitch {
    border: 1px solid var(--lightswitch-border);
    @apply rounded;

    &__field {
        padding: 6px 9px;
    }

    &__description {
        font-size: .775rem;
        background-color: var(--lightswitch-description-background);
        padding: 6px 9px;
    }

    .lightswitch-inner-container {
        border: none;
    }
}